@import "tailwindcss";

:root {
  --background: #092635;
  /* --foreground: #ffffff;
  --color1: #9EC8B9;
  --color2: #001616;
  --card-bg: #004949;
  --field-bg: #001616;
  --text-white: #ffffff;
  --text-black: #000000;
  --btn-bg: #9EC8B9;
  --modal-overlay-bg:#000000aa;
  --text-color1:#9EC8B9; */
}

[data-theme='light'] {
  --background: #C6E7FF;
  --foreground: #000000;
  --color1: #D4F6FF;
  --color2: #FBFBFB;
  --card-bg:#FAF1E6;
  --field-bg:#FBFBFB;
  --text-color1:#000000;
  --toast-bg:#FAF1E6;
  --toast-text:#000000;
  --connect-hover:#00000050;
  --modal-border:#00000020;
  --modal-overlay-bg:#000000aa;
  --modal-bg:#FAF1E6;
  --btn-swap:#C6E7FF;
}

[data-theme='aptos'] {
  --background: #092635;
  --foreground: #ffffff;
  --color1: #9EC8B9;
  --color2: #001616;
  --card-bg: #004949;
  --field-bg: #001616;
  --text-color1:#9EC8B9;
  --toast-bg:#001616;
  --toast-text:#ffffff;
  --connect-hover:#001616;
  --modal-border:#ffffff20;
  --modal-overlay-bg:#000000aa;
  --modal-bg:#001616;
  --btn-swap:#00000050
}

[data-theme='movement'] {
  --background: #17161B;
  --foreground: #ffffff;
  --color1: #FEBF32;
  --color2: #232532;
  --card-bg: #23253250;
  --field-bg: #00000060;
  --modal-overlay-bg: #000000aa;
  --black: #000000;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-color1:#FEBF32;
}

[data-theme='supra'] {
  --background: #18230F;
  --foreground: #ffffff;
  --color1: #1F7D53;
  --color2: #254615;
  --card-bg:#252e21;
  --field-bg:#00140b;
  --text-white:#ffffff;
  --text-black:#000000;
  --text-color1:#1F7D53;
  --btn-bg:#9EC8B9;
}



body {
  background: var(--background);
  color: var(--foreground);
  transition:all 0.5s ease;
}

/* Buttons */
.btn-primary{
  background-color:var(--color1);
  transition:all 0.5s ease;
}
.btn-primary:hover{
  background-color:var(--connect-hover);
}
.btn-swap{
  background-color: var(--btn-swap);
}
.btn-swap:hover{
  background-color: var(--connect-hover);
}

.field-bg {background: Var(--field-bg);}
.bg-dark {background-color: var(--background)}
.bg-primary {background-color: var(--color1)}
.btn-bg {background-color: var(--color2)}
.card-bg {background-color: var(--card-bg);}
.bg-color1 {background-color: var(--background);}
.modal-bg-backdrop {background-color: var(--modal-overlay-bg);}
.modal-bg.orders {background-color: var(--modal-overlay-bg);}

.text-primary {color: var(--text-color1)}
.text-grad {
  background: linear-gradient(to bottom right, #1ea59a, #d1d358, #2d82e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-bg:hover {
  background-color: var(--color1);
  color: var(--black);
  transition: all 0.5s ease;
}

.hover-primary:hover {
  color: var(--color1);
  transition: all 0.5s ease;
}
.tab.active {
  background-color: var(--color1);
  color: var(--color-black);
}

.modal-border{
  border:1px solid var(--modal-border)
}
.modal-bg{background-color: var(--modal-bg);}
.transition-all{transition:all 0.5s ease};


/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
.scrollbar-hidden::-webkit-scrollbar {display: none;}
.scrollbar-hidden {scrollbar-width: none;}

/* Background Tokens */
.floating-tokens {
  opacity: 0.4;
  filter: blur(4px);
  animation: float 3.5s linear infinite;
}

.floating-tokens:hover {
  opacity: 1;
  cursor: pointer;
  filter: blur(0px);
  opacity: 1;
  transform: rotate(10deg);
  transition: all 0.3s ease;
  animation: none;
}

@keyframes float {
  0% {
    margin-top: 0px;
    transform: rotate(0deg)
  }

  25% {
    margin-top: 8px;
    transform: rotate(8deg)
  }

  50% {
    margin-top: 0px;
    transform: rotate(0deg)
  }

  75% {
    margin-top: -8px;
    transform: rotate(-8deg)
  }

  100% {
    margin-top: 0px;
    transform: rotate(0deg)
  }
}

.animate-bg .t1 {
  animation-delay: 0s;
}

.animate-bg .t2 {
  animation-delay: 0.5s;
}

.animate-bg .t3 {
  animation-delay: 1s;
}

.animate-bg .t4 {
  animation-delay: 1.2s;
}

.animate-bg .t5 {
  animation-delay: 1.4s;
}

.animate-bg .t6 {
  animation-delay: 1.6s;
}

.animate-bg .t7 {
  animation-delay: 1.8s;
}

.animate-bg .t8 {
  animation-delay: 2s;
}



/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 16px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color1);
}

.scrollbar::-webkit-scrollbar-track {
  background: #febd320c;
  border-radius: 16px;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color1) #febd320c;
}

.scrollbar * {
  scrollbar-width: thin;
}

.scrollbar::-moz-scrollbar-button {
  display: none !important;
}




/* Connecting Loading */
.loader {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #0000;
  background:
    linear-gradient(90deg, #1ea59a 50%, #0000 0) -25% 100%/50% 3px repeat-x border-box;
  position: relative;
  animation: l3-0 .75s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FEBF32;
  animation: l3-1 .75s cubic-bezier(0, 900, 1, 900) infinite;
}

@keyframes l3-0 {
  to {
    background-position: -125% 100%
  }
}

@keyframes l3-1 {

  0%,
  2% {
    bottom: 0%
  }

  98%,
  to {
    bottom: .1%
  }
}


/* Toast css */
.Toastify__toast{
  border-radius: 40px;
}
.Toastify__close-button{
  top: 23px;
  right: 16px;
  color:var(--toast-text)
}
.Toastify__toast-theme--dark{
  background: linear-gradient(to bottom right, var(--toast-bg));
  color: var(--toast-text);
}